# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.tmp
*$py.class

# --- Virtual environment ---
.venv/
env/
venv/

# --- Environment variables / secrets ---
config.py
*.env
.env.*

# --- Databases ---
*.db
db/*.db
instance/*.db

# --- Flask ---
instance/
*.log

# --- VSCode ---
.vscode/

# --- macOS ---
.DS_Store
