-------------------------------------------------------------------

Konfigurationsdatei für Git, um bestimmte Dateien zu ignorieren

-------------------------------------------------------------------

1. Datenbanken

Die SQLite-Datenbankdatei sollte nicht versioniert werden, da sie laufend

geänderte Benutzerdaten enthält.

todo.db

2. Virtuelle Umgebung

Der gesamte Ordner der virtuellen Umgebung (venv) sollte ignoriert werden.

/venv/

3. Python-spezifische Dateien

Kompilierte Python-Dateien

*.pyc

pycache Ordner

pycache/

Dateien, die durch Flask/Pycharm/etc. generiert werden

.vscode/
.idea/
